.header-wr {
    /*background-color: rgb(224 243 249);*/
    background-color: dimgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
}

.header-wr .header-text {
    font-size: medium;
    color: black;

    /*color: dimgrey;*/
}
.header-wr .auth-text{
   margin-right: 80px;
}

.header-wr .header-text-to-do {
    margin-left: 680px;
    font-weight: bold;
}

.header-wr .header-text-login {
   margin-right: 30px;
}

.header-wr .header-text-registration {
    /*margin-left: 20px;*/
}

.header-wr .link{
    text-decoration: none;
    color: black;

}
.header-wr .link:hover{
    color: darkgray;
}

