.header-wr {
    background-color: rgb(224 243 249);
    display: flex;
    justify-content: space-between;
}

.header-wr .header-text {
    font-size: medium;
    color: dimgrey;
}
.header-wr .auth-text{
   margin-right: 80px;
}

.header-wr .header-text-to-do {
    margin-left: 650px;
    font-weight: bold;
}

.header-wr .header-text-login {
   margin-right: 30px;
}

.header-wr .header-text-registration {
    /*margin-left: 20px;*/
}

.header-wr a{
    text-decoration: none;
    color: dimgrey;
}

