.draggable-wr{

}
.draggable-wr .itemsEl{
    width: 350px;
    border: #282c34 solid 2px;
    border-radius: 3px;
    margin: 10px 10px 10px 20px;
    padding: 2px;
    text-align: center;
    background: cornflowerblue;
}