.registration-wr {
    position: relative;
}
.registration-wr .registrationImg{
   min-height: 491px;
}

.registration-wr img {
    margin-left: 350px;
    height: 100%;
}

.registration-wr .motto {
    text-align: center;
    color: dimgrey;
}

.registration-wr .registration-form-block {
    position: absolute;
    right: 60px;
    top: 30px

}